<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/suresh_shop?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="bean/MeasurementUnit.hbm.xml"/>
    <mapping resource="bean/Categeory.hbm.xml"/>
    <mapping resource="bean/Product.hbm.xml"/>
    <mapping resource="bean/Cheque.hbm.xml"/>
    <mapping resource="bean/Year.hbm.xml"/>
    <mapping resource="bean/Day.hbm.xml"/>
    <mapping resource="bean/SalePurchase.hbm.xml"/>
    <mapping resource="bean/User.hbm.xml"/>
    <mapping resource="bean/Account.hbm.xml"/>
    <mapping resource="bean/Transaction.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
