<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.dialect">
org.hibernate.dialect.SybaseAnywhereDialect
</property>
<property name="hibernate.connection.driver_class">
sun.jdbc.odbc.JdbcOdbcDriver
</property>
<!-- Assume test is the database name -->
<property name="hibernate.connection.url">
jdbc:odbc:Driver={Microsoft Access Driver (*.mdb)};DBQ=E:\Osho\Osho\Raja\Dot Net Raja\Projects Raja\admission system\admission system\bin\Debug\usindh_Backup.mdb
</property>
<property name="hibernate.connection.username"></property>
<property name="hibernate.connection.password"></property>
<!-- List of XML mapping files -->
<mapping resource="Batch.hbm.xml"/>
<mapping resource="BookIssue.hbm.xml"/>
<mapping resource="Category.hbm.xml"/>
<mapping resource="CategoryDetial.hbm.xml"/>
<mapping resource="Department.hbm.xml"/>
<mapping resource="EVENTMESSAGES.hbm.xml"/>
<mapping resource="Faculty.hbm.xml"/>
<mapping resource="PARTS.hbm.xml"/>
<mapping resource="Program.hbm.xml"/>
<mapping resource="SCRATCHCARD.hbm.xml"/>
<mapping resource="Student.hbm.xml"/>
<mapping resource="STUDENTPARTREG.hbm.xml"/>
</session-factory>
</hibernate-configuration>
